@import '../../../node_modules/bootstrap/scss/bootstrap';
@import '../../../node_modules/sad-shared-components/src/styles/themes/default/index';
@import '../../../node_modules/sad-shared-components/src/styles/utilities';
@import 'variables';

.row{
    margin-right: -1rem;
    margin-left: -1rem;
}
.container-fluid{
    padding-left: 1rem;
    padding-right: 1rem;
}