.recipes{
    height: 100%;
    &__title{
        span{
            margin-top: 0.2rem;
            display: inline-block;
            margin-left: .5rem;
        }
        padding-left: .5rem;
    }
    &__search{
        padding-right: .5rem;
    }
    &__content{
        height: calc(100vh - 5.75rem - 8px);
        margin: 0 -1rem;
        padding: .5rem 1rem;
        overflow: auto;
        display: flex;
    }
    .searchbar{
        text-align: right;
    }
    .recipe-list{
        width: 100%;
    }
    .recipe-list__item{
        display: inline-block;
        width: calc(33.3% - 1rem);
        margin: .5rem 1rem 0 0;
        vertical-align: top;

    }
    .recipe-card{
        cursor: pointer;
        &:hover .recipe-card__content{
            background-color: var(--color-primary-hover-bg);
            color: var(--color-primary-hover-text);
            transition: var(--app-transition);
        }
    }

}