@import '~sad-shared-components/src/styles/utilities';

.recipes{
    height: 100%;
    &__title{
        span{
            margin-top: 0.2rem;
            display: inline-block;
            margin-left: .5rem;
        }
        padding-left: .5rem;
    }
    &__search{
        padding-right: .5rem;
    }
    &__content{
        height: calc(100vh - 5.75rem - 8px);
        overflow: auto;
        display: flex;
    }
    &__filters{
        background-color: var(--color-tertiary);
        padding-top: .5rem;
        &-header{
            margin: -.5rem -1rem .5rem;
            padding: 14px 15px;
            background-color: var(--color-tertiary-dark);
            color: var(--color-white);
        }
    }
    &__list-header{
        background-color: var(--color-tertiary);
        margin-right: -15px;
        margin-left: -15px;
        padding: .5rem 0rem;
    }
    &__list-content{
        min-height: 300px;
    }
    &__found{
        width: calc(100% - 225px);
        display: inline-block;
        padding-left: 1rem;
    }
    &__orderBy{
        width: 225px;
        display: inline-block;
        .form-label{
            display: inline-block;
            margin-right: .5rem;
        }
        .styled-select-wrapper{
            display: inline-block;
            width: 145px;
        }
    }
    .searchbar{
        text-align: right;
    }
    .recipe-list{
        width: 100%;
    }
    .recipe-card{
        cursor: pointer;
        &:hover .recipe-card__content{
            background-color: var(--color-primary-hover-bg);
            color: var(--color-primary-hover-text);
            transition: var(--app-transition);
        }
    }

    @include media-breakpoint-only(xs){
        &__content{
            margin: 0 -1rem;
        }
        &__list{
            padding: 0;
        }
        &__list-header{
            padding: .5rem 1rem .5rem .5rem;
        }
        .recipe-list__item{
            margin: 0;
            padding: 0;
        }
        .recipe-card{
            border-radius: 0;
            &__content, &__image{
                border-radius: 0;
            }
        }
    }

    @include media-breakpoint-up(sm) {
        .recipe-list__item {
            display: inline-block;
            width: calc(50% - 1rem);
            margin: .5rem 1rem 0 0;
            vertical-align: top;
        }
    }
    @include media-breakpoint-up(md) {
        .recipe-card__image{
            height: 200px;
        }
        .recipe-list__item {
            width: calc(50% - 1rem);
        }
    }
    @include media-breakpoint-up(lg) {
        .recipe-list__item {
            width: calc(33.3% - 1rem);
        }
    }
}