.modify-recipe{
    &__header{
        padding: .3rem;
        margin: 0 -1rem;
        height: 3rem;
        background-color: var(--color-tertiary-bg);
    }
    &__title{
        margin-top: .2rem;
        padding-left: .5rem;
    }
    &__controls{
        text-align: right;
        padding-right: .5rem;
    }
    &__content{
        height: calc(100vh - 5.5rem);
        overflow: auto;
        margin: 0 -1rem;
        padding: 0 1rem 1rem;
    }

}