.modify-recipe{
    &__header{
        padding: .3rem;
        margin: 0 -1rem;
        height: 3rem;
    }
    &__content{
        height: calc(100vh - 5.75rem - 4px);
        overflow: auto;
        margin: 0 -1rem;
        padding: 0 1rem 1rem;
    }

}