:root{
    --color-primary: #ae1c2f;
    --color-primary-dark: #580e18;
    --color-secondary: #e9e9e9;
    --color-secondary-dark: #d1d1d1;
    --color-tertiary: #8a6a66;
    --color-tertiary-dark: #53403d;

    --app-header-height: 5.75rem;
    --app-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    --app-transition-time: .5s;
    --app-font-family:  "Open Sans";
}
