:root{
    --color-primary: #ae1c2f;
    --color-primary-dark: #580e18;
    --color-primary-light: #ff7581;
    --color-secondary: #e76a74;
    --color-secondary-dark: #e8243c;
    --color-secondary-light: #ff7581;
    --color-tertiary: #b7b7b7;
    --color-tertiary-dark: #666666;
    --color-tertiary-light: #e3e3e3;

    --app-header-height: 3rem;
    --app-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    --app-transition-time: .5s;
    --app-font-family:  "Open Sans";
}
