@import '~bootstrap/scss/bootstrap.scss';
@import 'utilities';
@import 'buttons';
@import 'animations';

html, body {
    width: 100%;
    height: 100%;
    overflow: auto;
    margin: 0;
    font-family: "Open Sans";
}

a{
    color: $brand-primary-text;
    &:hover{
        color: $brand-primary-hover-text;
    }
}