.header-nav{
    padding: .5rem 0;
    background-color: var(--color-secondary-dark);
    color: var(--color-white);
    height: 3.25rem;
    &__title{
        margin-top: .2rem;
        padding-left: .5rem;
    }
    &__controls{
        text-align: right;
        padding-right: .5rem;
    }
}