.app{
    font-family: var(--app-font-family);
    background-color: var(--color-secondary-bg);
    &__header{
        height: var(--app-header-height);
    }
    &__content{
        height: calc(100vh - var(--app-header-height));
        overflow: auto;
        padding: .25rem 1rem;
    }
}
