@import '../styles/utilities';

.app{
    &__header{
        height: $brand-app-header-height;
    }
    &__content{
        height: calc(100vh - #{$brand-app-header-height});
        overflow: auto;
        padding: .25rem 1rem;
    }
}