.main-nav{
    background-color: var(--color-primary-hover-bg);
    color: var(--color-primary-text);
    font-size: 1.25rem;
    &__logo{
        padding-left: .25rem;
        &-name{
            padding-left: .25rem;
            position: relative;
            top: .1rem;
        }
    }
    &__settings{
        padding-right: .25rem;
        text-align: right;
    }
    &__link:hover{
        color: var(--color-primary-text);
    }
}