.main-nav{
    background-color: var(--color-primary-hover-bg);
    color: var(--color-primary-text);
    font-size: 1.5rem;
    line-height: 2.5rem;
    &__menu{
        margin-top: .3rem;
        color: var(--color-primary-text);
        &:hover{
            color: var(--color-primary-hover-text);
        }
    }
    &__logo{
        padding-left: .25rem;
        &-name{
            padding-left: .25rem;
            position: relative;
            top: .1rem;
            color: var(--color-primary-text);
            &:hover{
                color: var(--color-primary-text);
                text-decoration: none;
            }
        }
    }
    &__settings{
        padding-right: .25rem;
        text-align: right;
    }
    &__link:hover{
        color: var(--color-primary-text);
    }
}