.main-nav{
    background-color: var(--color-primary-hover-bg);
    color: var(--color-primary-text);
    border-bottom: 2px solid var(--color-white);
    font-size: 1.5rem;
    line-height: calc(var(--app-header-height) - 2px);
    &__menu{
        margin-top: .3rem;
        color: var(--color-primary-text);
        &:hover{
            color: var(--color-primary-hover-text);
        }
    }
    &__logo{
        padding-left: .25rem;
        &-name{
            padding-left: .25rem;
            position: relative;
            height: 40px;
            margin-top: -.5rem;
        }

    }
    &__settings{
        padding-right: .25rem;
        text-align: right;
    }
    &__link:hover{
        color: var(--color-primary-text);
        transition: var(--input-transition);
    }
}